/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@font-face {
  font-family: 'canopee';
  src: url('assets/Canopee.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'EditorialNew';
  src: url('assets/DomaineDispCondMedium.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'EditorialNew';
  src: url('assets/EditorialNew-Light.woff2') format('woff2');
  font-weight: 400;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset styles */

/* now we use our normal styles */

body {
  font-family: Georgia, serif;
}

p {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: green;
}
html, body {
    height: 100%;
    width: 100%;
}

#main {
  background-color: #222;
  position: fixed;
  overflow-x: hidden;
}

#page1 {
  height: calc(100% + 100vw);
  width: 100vw;
  background-color: #c4bcb3;
  position: relative;
  overflow: hidden;
}

#nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
#nav img {
  height: 130px;
  width: 130px;
  cursor: pointer;
}
#nav h5 {
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
  display: inline-block;
}
#menu {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu div {
  height: 3px;
  width: 40px;
  background-color: #222;
  cursor: pointer;
  transition: all 0.5s ease;
}
#menu1 {
  margin-bottom: 3px;
}

#menu:hover #menu1 {
  transform: translateX(6px);
}
#menu:hover #menu2 {
  transform: translateX(-6px);
}
/* slider css */
img {
  width: 100%;
}

h1 {
  margin: 0.5rem 0;
}

/* container and cards */
.container {
  position: relative;
  width: 100vw;
  height: 24rem;
  overflow: hidden;
  cursor: grab;
  margin-top: 1.5rem;
  /* border-top: 10px solid #f00; */
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 555px);
  pointer-events: none;
}

.card {
  height: 400px;
  padding-right: 50px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 50px;
  border-right: 2px solid rgb(168, 161, 161);
}
.image_element {
  width: 100%;
  height: 50%;
}
.image_element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  /* transform: scale(1.5); */
}
.image_element:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.content_element {
  position: relative;
  top: -20px;
}

.content_element h2 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  color: #222;
}

.content_element #new {
  background-color: rgba(233, 58, 58, 0.745);
  margin-inline-start: 5px;
  color: rgb(237, 223, 223);
  padding-inline: 5px;
  border-radius: 5px;
}
.content_element #new:hover {
  background-color: rgba(233, 58, 58, 0.945);
  transition: all 0.5s ease;
}
.content_element p {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 1rem;
  color: #222;
}
.card:nth-child(2) {
  text-align: center;
}

.card:nth-child(2) h1 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #222;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.card:nth-child(2) h2 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #222;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1.1;
}
.card:nth-child(2) p span {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-inline: 10px;
}
.card:nth-child(2) p {
  padding-top: 1.5rem;
}
#page1 .head {
  width: 96%;
  margin-inline: 2%;
  margin-block: 3rem;
}
#page1 .head h1 {
  font-size: 33vw;
  font-family: "canopee", sans-serif;
  text-transform: uppercase;
  color: #c4bcb3;
  text-align: center;
  background-color: #222;
  /* margin-block: 7rem; */
}

#page2{
  height: 100%;
  width: 100vw;
  background-color: #c4bcb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page2-left{
  height: 100%;
  width: 35%;
  padding-left: 2rem;
  padding-right: 3rem;
  border-right: 1px solid #222;
}

#page2-left h2{
  font-size: 7vw;
  font-family: 'canopee', sans-serif;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  margin-bottom: -1.5rem;
}
#page2-left h1{
  font-size: 14vw;
  font-family: "canopee", sans-serif;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  background-color: #c4bcb3;
  letter-spacing: -10px;
}
#page2-left .img-box{
  width: 100%;
  height: 35vw;
  margin: 0 auto;
  margin-block:2rem;
}
#page2-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #222;
}
#page2-left h5:first-of-type::first-letter{
  font-family: Canopee,sans-serif;
  font-size:8rem;
  float :left;
  color: #c4bcb3;
  background-color: #222;
  padding: 40px 7px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}
#page2-left h5{
  font-family: EditorialNew, sans-serif;
  color: #222;
  font-size: 1.5rem;
  line-height: 2.7vw;
  font-weight: 400;
  margin: n;
}
#page2-right{
  height: 100%;
  width: 60%;
  padding-right: 3rem;
  
}

#page2-right .img-box{
  width: 100%;
  height: 42vw;
  margin: 0 auto;
  margin-bottom:2rem;
}
#page2-right img{
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  object-fit: cover;
}
#page2-right h1{
  /* font-size: calc(48px + (86  -  48) * ( 100vw  -  300px )/ ( 1600  -  300 )); */
  font-size: 8.3vw;
  line-height: 6.6vw;
  word-spacing: 5px;
  letter-spacing: -.05em;
  font-weight: 400;
  font-family: Canopee, sans-serif;
  text-transform: uppercase;
  color: #222;
  text-align: start;
 
}
#page3{
  height: 100vh;
  width: 100vw;
  background-color: #c4bcb3;
}
.website{
  width: 100vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #c4bcb3;
  margin-inline: 2rem;
  gap: 2rem;
  padding-block: 3rem;
}
.website .content{
  text-align: center;
}
.website h1{
  font-size: 27vw;
  font-family: Canopee, sans-serif;
  text-transform: uppercase;
  color: #c4bcb3;
  background-color: #222;
  text-align: center;
  
}
.website .img_box{
  width: 85%;
  height: auto;
}
.website .img_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper{
  width: 96vw;
  height: auto;
  margin-top: 2rem;
  margin-inline:2rem ;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #c4bcb3;
}

.wrapper .content{
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #c4bcb3;
}
.wrapper .content .next h2{
  font-size: 3.8vw;
  font-family: 'canopee', sans-serif;
  text-transform: uppercase;
  color: #222;
  font-weight: 500;
 
  margin-bottom: 2rem;
  letter-spacing: -3px;
  
}
.wrapper .content .next h3{
  font-size: 2.5vw;
  font-family: EditorialNew, sans-serif;
  color: #222;
  /* letter-spacing: -2px; */
  font-weight: 500;
  margin-bottom: 5rem;
  padding-right: 3rem; 
}
.wrapper .content .next h5{
  font-size: 1.1rem;
  font-family: EditorialNew, sans-serif;
  color: #222;
  font-weight: 500;
  margin-bottom: 1rem; 
}
.wrapper .content .next h5 span{
  font-size: 1.5rem;
  font-family: EditorialNew, sans-serif;
  color: #222;
  margin-bottom: 1rem; 
  text-transform: uppercase;
  font-weight: 700;
}

.wrapper .content .next{
  width: 80%;
  display: block;
  border-right: 1px solid hsla(60, 4%, 11%, 0.5) ;
}
.wrapper .content .project{

  padding-right: 3rem;
  padding-bottom: 2rem;
  /* background-color: #222; */
}
.wrapper .content .project .img-box
{
  overflow: hidden;
  width: 85%;
}
.wrapper .content .project .img-box:hover img{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.wrapper .content .project h3{
  font-family: Canopee,'sans-serif';
  font-size: 2vw;
  color: #222;
  margin-block:1rem;
  font-weight: 500;
}
.wrapper .content .project p{
  font-family: EditorialNew, sans-serif;
  font-size: 1.1rem;
  color: #222;
  margin: 0;
  padding: 0;
}